.logo-container{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo{
    width:80px;
    height:80px;
    object-fit:contain;
    border-radius:8px;
}.logo-container{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo{
    width:70px;
    height:70px;
    object-fit:contain;
    border-radius:8px;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

    header{
    background:#1f2937;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:white;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-bottom:30px;
}

.btn{
    background:black;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.services{
    padding:50px 20px;
}

.services h2{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:20px;
    margin:15px auto;
    max-width:700px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}input,
textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
}

button{
    border:none;
    cursor:pointer;
}

#successMessage{
    text-align:center;
    margin-top:20px;
    font-weight:bold;
}
.whatsapp-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px 20px;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}